# -------------------------
# Node.js (Frontend)
# -------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/
.next/
out/

# -------------------------
# Python (Backend)
# -------------------------
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints

# -------------------------
# Environment Variables
# -------------------------
.env
.env.*
**/.env
**/.env.*

# -------------------------
# Logs
# -------------------------
logs
*.log
*.log.*

# -------------------------
# IDE / OS
# -------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
